.completedChallengesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  background-color: var(--content);
  padding: 1.5rem 2rem;
  border-radius: 0 0 4px 4px;
}

.completedChallengesContainer span:first-child {
  font-size: 1.25rem;
}

.completedChallengesContainer span:last-child {
  font-size: 1.5rem;
}
